fastapi
uvicorn[standard]
pydantic
pydantic-settings
redis
httpx
aiohttp
msal
aiofiles
pyngrok
psutil
python-dotenv
httpx[http2]
pytest 
pytest-mock 
pytest-asyncio 
pytest-timeout 
pytest-cov
respx
pika
python-dotenv
testcontainers
requests
testcontainers[rabbitmq]
